[
  {image_optimizer, [
    {optipng, "/usr/bin/optipng"},
    {pngquant, "/usr/bin/pngquant"},

    {jpegoptim, "/usr/bin/jpegoptim"},
    {cjpeg, "/opt/local/bin/cjpeg"},
    {jpeg_recompress, "/opt/local/bin/jpeg-recompress"},

    {scour, "/usr/bin/scour"},
    {svgo, "/home/glejeune/.nvm/versions/node/v10.15.0/bin/svgo"},

    {gifsicle, "/opt/local/bin/gifsicle"},

    {identify, "/usr/bin/identify"}
  ]},

  {lager, [
    {handlers, [
      {lager_console_backend, [
        {level, debug},
        {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, color, " [", severity, "] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\e[0m\r\n"]}
      ]}
    ]},
    {colored, true}
  ]}
].
